@tailwind base;
@tailwind components;
@tailwind utilities;

.search_background {
  background-color: #000; /* Solid background color */
  background-image: radial-gradient(
    35.5% 50.9% at 50% 50%,
    rgba(0, 136, 255, 0.3) 0%,
    #060010 100%
  );
  /* Radial gradient background */
}

.btn {
  border-radius: 8px;
  font-weight: 600;
  padding: 8px 16px;
  background-color: #0099ff;
  background-image: linear-gradient(
    278deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  color: white;
}
.btn_header {
  border-radius: 8px;
  font-weight: 600;
  padding: 5px 16px;
  background-color: #0099ff;
  background-image: linear-gradient(
    278deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  color: white;
}

.wrapper {
  @apply px-4;
}

.hero {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(
      113.1% 211.5% at 50% 50%,
      #0b014a 39.13%,
      #0049b8 51.42%,
      #3264e3 67.6%,
      #0cf 77.37%,
      #6effd3 90%,
      #ecf138 100%
    );
}

.link {
  color: #0099ff;
}
.partner_hero {
  background: #033363;
  background-image: radial-gradient(
    35.5% 50.9% at 50% 50%,
    rgba(0, 136, 255, 0.3) 0%,
    #060010 100%
  );
}

.sellgpt_pink {
  background: linear-gradient(270deg, #f06 0%, rgba(195, 0, 155, 0) 100%),
    radial-gradient(132.8% 150% at 50% 50%, #90f 0%, #fd7702 100%);
}
.sellgpt_blue {
  background: linear-gradient(270deg, #09f 0%, rgba(195, 0, 155, 0) 100%),
    radial-gradient(132.8% 150% at 50% 50%, #0788ff 0%, #90f 100%);
}
.sellgpt_orange {
  background: radial-gradient(132.8% 150% at 50% 50%, #fe0222 0%, #fd7702 100%);
}

.form {
  background: radial-gradient(
    35.5% 50.9% at 50% 50%,
    rgba(102, 0, 255, 0.3) 0%,
    #060010 100%
  );
}

.form_input_partner {
  width: 100%;
  border-radius: 8px;
  background: #3a196d;
  padding: 10px 10px;
  outline: none;
  @apply placeholder-[#757575];
}

body {
  background: #060010;
  position: relative;
}

.search_popup {
  border-radius: 40px 40px 0px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: #000;
  box-shadow: 1px -5px 12px 0px rgba(255, 255, 255, 0.1),
    2px -21px 21px 0px rgba(150, 149, 149, 0.09),
    5px -47px 29px 0px rgba(0, 0, 0, 0.05),
    8px -84px 34px 0px rgba(0, 0, 0, 0.01),
    13px -132px 37px 0px rgba(0, 0, 0, 0);
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.framer_footer {
  background: rgb(0, 19, 58);
  background: linear-gradient(
    0deg,
    rgba(0, 19, 58, 1) 0%,
    rgba(0, 6, 19, 0.5018382352941176) 100%
  );
}

.login_background {
  background: url('./../public/dashboard/login_background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
